.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	width: inherit;
	margin: 5rem 0;
}

.title,
.active {
	text-align: left;
	margin: 1.5rem;
	font-weight: 600;
	transition: all ease-in-out 0.2s;
}

.active {
	color: rgb(252, 71, 167);
	font-weight: 800;
}
