@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

::-webkit-scrollbar {
	display: none;
}

.app {
	font-family: 'Work Sans', sans-serif;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(to bottom right, #ffffff, #bfc1c4);
	color: rgb(26, 26, 26);
	display: grid;
	grid-template-columns: 10vw 1fr;
	grid-template-rows: 10vh 10vh 1fr;
}

.top {
	grid-row: 1;
	grid-column: 2;
	border: 1px solid rgb(212, 212, 212);
	border-radius: 10px;
}

.left {
	grid-row: 1/4;
	grid-column: 1;
	border: 1px solid rgb(228, 228, 228);
	border-radius: 10px;
}

.filters {
	grid-row: 2;
	grid-column: 2;
	display: flex;
}

.container {
	grid-row: 3;
	grid-column: 2;
	border: 1px solid rgb(224, 221, 221);
	border-radius: 10px;
	overflow: scroll;
}
