.container {
	display: flex;
	flex-wrap: wrap;
	max-height: 100%;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	background-color: white;
	position: relative;
	transition: all 0.15s;
}

.container:hover {
	box-shadow: 0 0 0.5rem 0.05rem rgba(0, 0, 0, 0.5);
}

.background {
	width: 100%;
	height: 100%;
	/* max-height: 40vh;
	max-width: 15vw; */
	transition: all 0.3s;
  overflow: hidden;
  position: relative;
}

.background img {
	filter: saturate(0);
	transition: all 0.3s;
  
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
  overflow: hidden;
}



.title {
	display: flex;
	justify-content: flex-end;
  flex-direction: column;
	width: 100%;
	height: 100%;
	/* min-height: 40vh;
	min-width: 15vw; */
	font-weight: 600;
	color: #ffffff98;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
	transition: all ease 0.15s;

	position: absolute;
	top: 0;
}

.container:hover img,
.container:hover .title {
	color: #ffffff;
	filter: saturate(1);
	/* background: linear-gradient(to top, #e4687d60, transparent); */
	text-shadow: none;
	background: linear-gradient(to top, rgba(122, 0, 0, 0.664), transparent);
}

.products {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.text {
  width: 50%;
  border-bottom: #565656 1px solid;
  margin-bottom: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  transition: 0.3s all ease;
}

.title:hover .text {
  border-bottom: #ffffff 2px solid;
}

.textDescription {
  visibility: hidden;
  background-color: #E4687C;
  transition: 0.3s all ease;
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;
  padding: 0 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title:hover .textDescription {
  animation: textDescription 0.3s ease-in-out forwards;
}

@keyframes textDescription {
  0% {
    visibility: visible;
    height: 0px;
  }
  100% {
    height: 100px;
    visibility: visible;
  }

}

.background:hover img {
  width: 50%;
}