.container {
	display: flex;
	flex-wrap: wrap;
	height: 40vh;
	width: 15vw;
	margin: 0.3rem;
	justify-content: center;
	align-items: flex-start;
	border: none;
	background-color: white;
	border-radius: 5px;
	position: relative;
	transition: all 0.15s;
}

.container:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 0.5rem 0.05rem rgba(0, 0, 0, 0.5);
}

.background {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 40vh;
	max-width: 15vw;
	border-radius: 5px;
	overflow: hidden;
	transition: all 0.3s;
}

.background img {
	max-height: 40vh;
	filter: saturate(0);
	transition: all 0.3s;
}

.title {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 0.5rem;
	min-height: 40vh;
	min-width: 15vw;
	border-radius: 5px;
	position: absolute;
	font-weight: 600;
	color: #ffffff98;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
	font-size: 1.5rem;
	transition: all ease 0.15s;
}

.container:hover img, .container:hover .title {
	color: #ffffff;
	filter: saturate(1);
	/* background: linear-gradient(to top, #e4687d60, transparent); */
	text-shadow: none;
	background: linear-gradient(to top, rgba(122, 0, 0, 0.664), transparent);
}

.products {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
