.container {
	position: relative;
	min-width: 40%;
	max-width: 50%;
}
.searchInputs {
	display: flex;
}
.iconSearch {
	background-color: white;
	border-radius: 50% 0 0 50%;
	padding: 10px;
	width: 20px;
	height: 20px;
	color: #e4687c;
}

.searchInput {
	height: 40px;
	width: 100%;
	font-size: 0.9rem;
}

.searchButton {
	height: 40px;
	background: #e4687c;
	border-radius: 0 5px 5px 0;
	color: #fff;
	font-weight: 600;
	padding: 0 1rem;
	transition: 0.3s all ease;
	cursor: pointer;
}

.searchButton:hover {
	background: #ffffff;
	color: #e4687c;
}
.searchResult {
	display: inline;
	position: absolute;
	margin-top: 0.5rem;
	width: 100%;
	height: auto;
	max-height: 200px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	overflow: hidden;
	overflow-y: auto;
	z-index: 1;
}
.searchResult::-webkit-scrollbar {
	display: none;
}
.searchResult .dataItem {
	padding: 0.675rem 0.5rem;
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	text-decoration: none;
	color: #565656;
}

.dataItem:hover {
	background-color: #e4687c;
	color: #000000;
}
.dataItem:active {
	background-color: #e4687c;
	color: #ffffff;
}
.dataItem:focus {
	color: #e4687c;
	font-weight: 600;
}
