.container {
	display: flex;
	min-height: 100vh;
	max-width: 100vw;
	position: relative;
}

.top {
	position: absolute;
	z-index: 1;
	top: 2rem;
	height: 15%;
}

.cards {
	display: flex;
	justify-content: center;
	width: 100%;
}

@media screen and (max-width: 999px) {
  .cards {
    flex-direction: column;
  }
}