.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}

.popup-overlay {
  pointer-events: auto;
}

[data-popup=tooltip].popup-overlay {
  background-color: rgba(66, 66, 66, 0.863);
  width: 100vw;
  pointer-events: none;
}

[role=tooltip].popup-content {
  width: 50%;
  height: 100vh;
  border-radius: 0;
}