.container {
  margin: 1% 1%;
  width: 98%;
  height: 96%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 3fr 1fr;
}

.container button {
	margin: 0.5rem;
	background-color: #e4687c;
	color: white;
	width: 90%;
	font-weight: 600;
	padding: 0.2rem;
	border: 1px solid transparent;
	border-radius: 0.3rem;
	transition: all ease-in-out 0.15s;
	align-self: center;
	justify-self: center;
	cursor: pointer;
}
.container button:hover {
	background-color: white;
	color: #e4687c;
}

.revenue,
.orders,
.stats,
.products {
  background-color: white;
  border-radius: 10px;
  margin: 0.5rem;
  display: grid;
  grid-template-rows: 2rem 1fr;
}

.revenue h4,
.orders h4,
.stats h4,
.products h4 {
  grid-row: 1;
  margin: 0.5rem;
  justify-self: center;
}

.orders p {
	padding: 0.2rem;
}

.orders .content {
	grid-row: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	margin-left: 1rem;
}

.content {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 999px) {
  .container {
    grid-template-columns: 1fr;
  }
}
